html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.background {
  background-color: gray;
  color: white;
}
.postheader {
  font-size: 10rem;
  text-align: center;
  border: black 1rem solid;
  border-radius: 2%;
  align-items: flex-start;
  width: 50%;
  margin-left: 25%;
}

.postheader:hover {
}

.parent {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
  font-family: "Italianno", cursive;
  flex-wrap: wrap;
}
.section-header {
  text-align: center;
  font-size: 5rem;
  margin: 4rem auto;
}

.child {
  font-size: 4rem;
  width: 28%;
  border: 5px solid black;
  height: 400px;
  border-radius: 1%;
}

.img {
  margin: 0%;
  width: 85%;
  align-items: center;
}

.child {
  transition: all 0.3s;
}

.child:hover {
  transform: scale(1.05);
}

.form:before {
  content: "\262D";
  font-size: 3rem;
}


.parent:hover .child:not(:hover){
transform: scale(0.5) ;
opacity: 0,3;

}