html,
body,
* {
  padding: 30px;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.background {
  background-color: gray;
  color: white;
}
.postheader {
  font-size: 10rem;
  text-align: center;
}

.parent {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
}
.section-header {
  text-align: center;
  font-size: 5rem;
  margin: 50px auto;
}

.child {
  width: 28%;
  border: 5px solid black;
  height: 400px;
}
