html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.background {
  background-color: gray;
  color: white;
}
.postheader {
  font-size: 10rem;
  text-align: center;
}

.parent {
  font-size: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
  font-family: "Italianno", cursive;
  flex-wrap: wrap;
}
.section-header {
  text-align: center;
  font-size: 5rem;
  margin: 40px auto;
}

.child {
  font-size: 4rem;
  width: 28%;
  border: 5px solid black;
  height: 400px;
}

.img {
  margin: 0%;
  width: 85%;
  align-items: center;
}

.child {
  transition: all 0.3s;
}

.child:hover {
  transform: scale(1.05);
  font-size: 2rem;
}

.form:before {
  content: "\262D";
  font-size: 1rem;
}
